<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="dropdown col-sm-3 col-md-3 col-lg-3">
    <a class="navbar-brand dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      TRMS:
      <span *ngIf="this.sess.retrieve('valid') == 'true'" class="navbar-text">
      	{{this.sess.retrieve('email')}}
      </span>
    </a>
    <div class="dropdown-menu">
      <div [ngSwitch]="userLoggedIn()">
        <button *ngSwitchDefault class="dropdown-item btn-link" data-toggle="modal" data-target="#loginModal"><span class="oi oi-account-login"></span> Login</button>
        <button *ngSwitchCase="true" class="dropdown-item btn-link" id="logoutButton" (click)="logout()"><span class="oi oi-account-logout"></span> Sign Out</button>
      </div>
    </div>
  </div>

  <button class="btn btn-primary col-sm-1 col-md-1 col-lg-1 offset-sm-7 offset-md-7 offset-lg-7" data-toggle="modal" data-target="#submitModal">
  	<span class="oi oi-pencil"></span>
  </button>
</nav>

<app-login></app-login>

<app-submit></app-submit>
