<div class="card" type="button" data-toggle="modal" attr.data-target="#reimbModal{{reimb.id}}">
    <div class="card-header">
        Request <strong>#{{reimb.id}}</strong> <small>from</small> <span class="email">{{reimb.email}}</span> <small>for</small> <strong>{{reimb.cost | currency}}</strong>
        <span class="details close btn oi oi-ellipses" ></span>
    </div>
</div>

<div class="modal fade" id="reimbModal{{reimb.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">#{{reimb.id}}</div>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
                Email of Requester: {{reimb.email}}<br/>
                State: {{reimb.state}}<br/>
                Cost: {{reimb.cost}}<br/>
                Event Date: {{reimb.date}}<br/>
                Date of Last Review: {{reimb.last}}
            </div>
        </div>
    </div>
</div>